{
  "extends": ["plugin:prettier/recommended", "standard", "standard-react"],
  "rules": {
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "camelcase": [
      0,
      {
        "ignoreDestructuring": true
      }
    ],
    "object-curly-spacing": ["error", "always"]
  }
}
