.Page {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.button-container {
  margin: 1.6rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  button,
  a {
    margin: 0 0.8rem;
  }
}

.content-container {
  background: #fff;
  border: 1px solid #cccccc;
  border-radius: 0.4rem;
  align-self: flex-start;
  @include tablet {
    padding: 2.4rem;
  }
  .content-header {
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
  .section {
    border: 1px solid #ebebeb;
    padding: 2rem;
    border-radius: 0.4rem;
    margin-bottom: 2rem;
  }
  .sub-section {
    margin: 1.3rem 0;
    padding: 1.3rem 0 2.6rem;
    border-bottom: 2px solid $light;
    &:first-of-type {
      margin-top: 0;
    }
  }
}
